<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">User Managament System</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="/add_user">Add User</a></li>
        </ul>

        <form class="navbar-form pull-right" method="POST" action="/" novalidate>
            <input type="text" class="span2" name="keyword" />
            <button type="submit" class="btn">Search</button>
        </form>

    </div>
</nav>