<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/styles/favicon-16x16.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/styles/favicon-32x32.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/styles/apple-touch-icon.png"/>
    <title>404 - Not Found</title>
</head>
<body>
    <%- include('./partials/navbar') %>

    <div>
        <h1>404 - Page Not Found</h1>
        <p>Oops! The request could not be found.</p>
    </div>
    
</body>
</html>